filebeat.inputs:
  - type: log
    enabled: true
    json:
      overwrite_keys: true
      keys_under_root: true
    paths:
      - /var/www/*/logs/*.log
      - /var/www/*/logs/*.log.1
filebeat.modules:
  - module: nginx
    access:
      enabled: true
    error:
      enabled: true
      var.paths: ["/var/log/nginx/*error.log"]
    ingress_controller:
      enabled: false
setup.template.settings:
  index.number_of_shards: 1
  index.number_of_replicas: 0

output.logstash:
  # The Logstash hosts
  hosts: ["{{ logstash_host }}"]
processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
  - timestamp:
      ignore_missing: true
      ignore_failure: true
      field: extra.elasticsearch_date
      timezone: "Europe/Oslo"
      layouts:
        - '2006-01-02T15:04:05Z'
        - '2020-06-02T13:20:50.516Z'
      test:
        - '2019-06-22T16:33:51Z'
        - '2020-06-02T13:20:50.516Z'

setup.ilm.enabled: false
